<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="main">
      <h1>Log new workout</h1>
      <form id="logForm">
        <div id="typeDateContainer">
          <select id="type">
            <option selected value="strength">Strength</option>
            <option value="cycling">Cycling</option>
            <option value="running">Running</option>
            <option value="hiking">Hiking</option>
          </select>
          <input type="date" id="date" required />
        </div>
        <div id="formContent"></div>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>
