body {
  display: flex;
  font-family: "Inter", sans-serif;
  background: var(--color-bg-base);
  color: var(--color-text-primary);
  margin: 0;
  height: 100vh;
}

.sidebar {
  background: linear-gradient(
    180deg,
    var(--color-bg-surface),
    var(--color-bg-base)
  );
  width: 200px;
  padding: 15px, 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  font-size: 24px;
  font-weight: semibold;
  line-height: 120%;
  text-align: center;
}

.sidebar .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sidebar .buttons button {
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: 16px;
  line-height: 140%;
  background-color: transparent;
  width: 180px;
  height: 48px;
  border: 1px solid var(--color-border-default);
  border-radius: 8px;
}

.sidebar .buttons button.active {
  background-color: var(--color-border-default);
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.sidebar .buttons button.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-accent-green);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}
